<div class="container">
  <div class="form bg-light shadow p-3 m-4">
    <app-back-arrow></app-back-arrow>
    <h3 style="text-align: center;">
      Listado de materias
    </h3>
    <div class="row justify-content-center">
      <div class="col-6">
        <h5>Materia</h5>
        <ul class="list-group" *ngFor="let m of materias">
          <li class="list-group-item anchor" [ngClass]="m == materiaSelected ? 'selected' : ''" (click)="onMateriaClicked(m)">{{m.nombre}}</li>
        </ul>
      </div>
      <div class="col-6">
        <h5>Alumnos</h5>
        <span *ngIf="materiaSelected">
          <ul class="list-group" *ngFor="let a of materiaSelected.alumnos">
            <li class="list-group-item">{{a.email}}</li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
